<?xml version="1.0" encoding="UTF-8"?>
<extension>
  <id>smart_search</id>
  <version>1.1.0</version>
  <type>template</type>
  <category>Search</category>
  <cartversions>
    <item>1.2</item>
  </cartversions>
  <priority>30</priority>
  <dependencies></dependencies>
  <settings>
    <item id="smart_search_status">
      <type>checkbox</type>
      <default_value>0</default_value>
    </item>
  </settings>
  <additional_settings><![CDATA[setting/setting&active=appearance]]></additional_settings>
</extension>
